{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block main_cont %}
    <h1>categories page</h1>
    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ path('show_video_by_cat', {'category_id': category.id}) }}">
                    {{ category.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
