{% extends 'base.html.twig' %}

{% block title %}New Video{% endblock %}

{% block main_cont %}
    <h1>Create new Video</h1>

    {{ include('video/_form.html.twig') }}

    <a href="{{ path('show_videos') }}">back to list</a>
{% endblock %}
