{% extends 'base.html.twig' %}

{% block title %}Hello VideoController!{% endblock %}

{% block main_cont %}
    <h1>{{ video.title }}</h1>
    <div class="grid">
        <div class="grid_item">
            <iframe width="600" height="300"
                    src="https://www.youtube.com/embed/{{ video.youtubeId }}"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>

    {{ include('video/_delete_form.html.twig') }}
{% endblock %}
