{% extends 'base.html.twig' %}

{% block title %}Hello VideoController!{% endblock %}

{% block main_cont %}
    <h1>My videos</h1>
    <div class="grid">
        {% for video in videos %}
            <div class="grid_item">
                <h4>
                    <a href="{{ path('show_video', {'youtube_id': video.youtubeId}) }}">
                        {{ video.title }}
                    </a>
                </h4> 
                <br>
                <iframe width="300" height="200"
                        src="https://www.youtube.com/embed/{{ video.youtubeId }}"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        {% endfor %}
    </div>
{% endblock %}
