<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href=" {{ asset('css/style.css') }} ">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>

        <header>
            {% block header %}
                <div class="header_logo">
                    <a href=" {{ path('home_page') }} ">Favourite Videos</a>
                </div>
                <nav>
                    <ul>
                        <li><a href=" {{ path('home_page') }} ">Главная</a></li>
                        <li><a href=" {{ path('add_video') }} ">Добавить видео</a></li>
                        <li><a href=" {{ path('show_videos') }} ">Мои видео</a></li>
                        <li><a href=" {{ path('show_categories') }} ">Мои категории</a></li>
                    </ul>
                </nav>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <button class="green"><a href="{{ path('app_logout') }}">Выйти</a></button>
                {% else %}
                    <button class="green"><a href="{{ path('app_login') }}">Войти</a></button>
                    <button class="green"><a href="{{ path('app_register') }}">Регистрация</a></button>
                {% endif %}

            {% endblock %}
        </header>

        <div class="center_block_main">
            <aside>
                {% block sidebar %}
                    <ul>
                        <li>
                            <a href=" {{ path('add_video') }} ">Добавить видео</a>
                        </li>
                        <li>
                            <a href=" {{ path('add_category') }} ">Добавить категорию</a>
                        </li>
                    </ul>
                {% endblock %}
            </aside>
            <main>
                {% block main_cont %}
                {% endblock %}
            </main>
        </div>
        <footer>footer</footer>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    </body>
</html>